*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    box-shadow: #170cbd;
}


/*ca pour afficher les menu de site ***************** */
.menu{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    background-color: #ffffff;
    align-content: center;
}
.logo{
    display: flex;
    font-family: 'Roboto', sans-serif;
}  
.BBR, .CLOTHES{
    font-size: 34px;
    font-weight: 700;
    color: #170cbd;
}  
.logo a{
    text-decoration: none;
}
.rechercher{
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.rechercher form{
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.rechercher input{
    flex: 1;
    padding: 10px;
    border: 1px solid #170cbd;
    border-radius: 8px;
}
.rechercher button{
    padding: 10px 20px;
    background-color: #205EE4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s;
}
.rechercher button:hover{
    background-color: #170cbd;
    transform: scale(1.1);
}
.stor{
    display: flex;
    gap: 35px;
}
.stor i{
    transition: transform 0.1s;  
    font-size: 20px;
}
.stor a:hover i{
    transform: scale(1.2);
}
.utilisateur{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.utilisateur .menu-inscription{
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 10;
    text-align: center;
}
.utilisateur .menu-inscription button{
    margin-bottom: 15px;
    display: inline-block;
    height: 30px;
    width: 175px;
    border: none;
    border-radius: 5px;
    background-color: #80a2ec;
    cursor: pointer;
    font-weight: 600;
}
.utilisateur .menu-inscription a{
    text-decoration: none;
    color: #ffffff;
}
.utilisateur:hover .menu-inscription{
    display: block;
}

/*ca pour afficher les categorie des produits ************* */
.categorie{
    background-color:  #ffffff;
}
.menu-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
nav .cat{
    border: 2px solid #a9a8b4;
    border-radius: 50rem;
}
nav a{
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    border-radius: 50rem;
    font-family: 'Roboto', sans-serif;
}
nav .cat:hover{
    border: 2px solid #000000;
}












body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.container {
    margin-top: 102px;
    margin-left: 40%;
    margin-right: 40%;
    width: fit-content;
}

.email-div,
.name-div,
.adresse-div {
    display: flex;
    border: 1px solid #adacac;
    margin-bottom: 25px;
}

.fa-envelope,
.fa-key,
.fa-house {
    margin-top: 9px;
    margin-left: 6px;
    color: #adadad;
}

input[type=email],
input[type=text] {
    width: 250px;
    height: 35px;
    padding-left: 10px;
    border: none;
}

.password-div {
    display: flex;
    border: 1px solid #adacac;
}

input[type=password] {
    width: 250px;
    height: 35px;
    padding-left: 10px;
    border: none;
}

.telephone-div {
    display: flex;
    border: 1px solid #adacac;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.fa-phone-alt {
    width: 20px;
    margin-left: 6px;
    margin-top: 9px;
    color: #adadad;
}

span {
    width: 40px;
    padding-top: 9px;
    margin-left: 8px;
    margin-right: 8px;
    border-right: 1px solid #adacac;
    color: #adadad;
}

input[type=tel] {
    width: 195px;
    height: 35px;
    border: none;
}

input::placeholder {
    font-size: 15px;
}

input:focus {
    outline: none;
    border: none;
}

button[name=inscrire] {
    background-color: #193db0;
    color: #ffffff;
    width: 284px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button[name=inscrire]:hover {
    background-color: #3152b8;
}

.check {
    margin-top: 25px;
    color: #6e6e6e;
}

label[for=password] {
    font-size: 13px;
    color: #7a7a7a;
}

label[for=checkbox] {
    font-family: neutral sans-serif;
}

.ou {
    margin-bottom: 15px;
    color: #b9b9b9;
    text-align: center;
}




/*ca pour la derniere bare de la page ********************************** */
.footer{
    background-color: #3e58ff;
    color: #000000;
    padding: 40px 20px;
    font-family: Arial, sans-serif;

}
.footer-contenus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}
.footer-site{
    flex: 1 1 250px;
} 
.footer .logo{
    font-size: 24px;
    font-weight: bold;
    color:  #170cbd;
    text-decoration: none;
    transition: transform 0.1s;
}
.footer .logo:hover{
    background-color: #3e58ff;
    
}
.des{
    font-size: 14px;
    margin-top: 8px;
    color: #352525;
} 
.social{
    list-style: none;
    padding: 0;
}
.social li a{
    color: #000000;
    text-decoration: none;
}
.social li a:hover{
    color: #170cbd;
    text-decoration: none;
}
.copyright{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
  
  