*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    box-shadow: #170cbd;
}

/*ca pour afficher les contacts de site ***************** */
.contact{
    background-color:  #3e58ff;
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 35px;
}
.contact-info span{
    margin-right: 20px;
    display: inline-flex;
    gap: 5px;
}
.contact-info{
    font-size: 13px;
}
.social{
    display: flex;
    gap: 15px;
}
.social{
    font-size: 15px;
    transition: transform 0.1s;
}
.social a:hover img{
    transform: scale(1.2);
}

/*ca pour afficher les menu de site ***************** */
.menu{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    background-color: #ffffff;
    align-content: center;
}
.logo{
    display: flex;
    font-family: 'Roboto', sans-serif;
}  
.BBR, .CLOTHES{
    font-size: 34px;
    font-weight: 700;
    color: #170cbd;
}  
.logo a{
    text-decoration: none;
}
.rechercher{
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.rechercher form{
    flex: 1;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.rechercher input{
    flex: 1;
    padding: 10px;
    border: 1px solid #170cbd;
    border-radius: 8px;
}
.rechercher button{
    padding: 10px 20px;
    background-color: #205EE4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s;
}
.rechercher button:hover{
    background-color: #170cbd;
    transform: scale(1.1);
}
.stor{
    display: flex;
    gap: 35px;
}
.stor i{
    transition: transform 0.1s;  
    font-size: 20px;
}
.stor a:hover i{
    transform: scale(1.2);
}
.utilisateur{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.utilisateur .menu-inscription{
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 10;
    text-align: center;
}
.utilisateur .menu-inscription button{
    margin-bottom: 15px;
    display: inline-block;
    height: 30px;
    width: 175px;
    border: none;
    border-radius: 5px;
    background-color: #80a2ec;
    cursor: pointer;
    font-weight: 600;
}
.utilisateur .menu-inscription a{
    text-decoration: none;
    color: #ffffff;
}
.utilisateur:hover .menu-inscription{
    display: block;
}

/*ca pour afficher les categorie des produits ************* */
.categorie{
    background-color:  #ffffff;
}
.menu-nav{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
nav .cat{
    border: 2px solid #a9a8b4;
    border-radius: 50rem;
}
nav a{
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    border-radius: 50rem;
    font-family: 'Roboto', sans-serif;
}
nav .cat:hover{
    border: 2px solid #000000;
}









/*ca pour afficher le contenus de produits en centre de la page */
.panier{
    flex: 2;
}
.article{
    display: flex;
    gap: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
}
.article img{
    width: 80px;
    height: auto;
    border-radius: 4px;
}
.info{
    flex: 1;
}
.info h4{
    margin: 5px 0;
    font-size: 20px;
    color: #170cbd;
    font-weight: bold;
}
.info p{
    margin: 4px 0;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.quantite{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 6px;
}
.quantite button{
    width: 26px;
    height: 26px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}
.valeur{
    width: 24px;
    text-align: center;
    font-weight: bold;
    color: #170cbd;
}
.actions{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}
.prix{
    font-weight: bold;
    font-size: 20px;
    color: #0033cc;
}
.actions .supp span{
    color: black;
}
.actions .supp ,.actions .favori{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    width: 34px;
    transition: transform 0.2s;
    align-self: flex-end;
    transition: color 0.3s;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 4px;
    border-radius: 7px;
}
.actions .favori:hover ,.actions .supp:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}
.favori:hover {
    color: #170cbd;
}


/* Résumé de commande */
.commande-resume{
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1rem;
    color:rgb(0, 0, 0);
    height: fit-content;
    margin: 40px;   
    font-weight: bold;
}
.commande-resume h3{
    margin-bottom: 15px;
    color: #170cbd;
}
.commande-resume p{
    margin: 5px 0;
}
.commande-resume hr{
    margin: 5px 0;
    color: #170cbd;
}
.commande-resume .button-paiement{
    border: none;
    color: #205EE4;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    border-radius: 38px;
    cursor: pointer;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease; 
}
.commande-resume .button-paiement:hover{
    background-color: #170cbd;
    color: #ffffff;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    text-align: center;
    padding: 20px;
}
.empty-cart-image{
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}
.empty-cart h1{
    font-size: 24px;
    margin-bottom: 10px;
    color: #170cbd;
}
.empty-cart p{
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-primary{
    padding: 10px 20px;
    background-color: #170cbd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: #007bff;
}










/*ca pour la derniere bare de la page ********************************** */
.footer {
    background-color:  #3e58ff;
    color: #000000;
    padding: 40px 20px;
    font-family: Arial, sans-serif;

}
.footer-contenus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}
.footer-site{
    flex: 1 1 250px;
} 
.footer .logo{
    font-size: 24px;
    font-weight: bold;
    color:  #170cbd;
    text-decoration: none;
    transition: transform 0.1s;
}
.footer .logo:hover{
    background-color:  #3e58ff;
    
}
.des{
    font-size: 14px;
    margin-top: 8px;
    color: #352525;
} 
.social{
    list-style: none;
    padding: 0;
}
.social li a{
    color: #000000;
    text-decoration: none;
}
.social li a:hover{
    color: #170cbd;
    text-decoration: none;
}
.copyright{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
} 